# dependencies
/node_modules
/.pnp
.pnp.js


# testing
/coverage
/.coverage.*
Test/ 

# production
#/build

# misc
*/.env
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
git
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#archivos de pagina
pagina/apps/business_rules_tests.py
bandit-report.json
pytest.ini
semgrep.json
apps/business_rules_tests.py
apps/security_tests.py
apps/__pycache__/sql_injection_raw_extra_tests.cpython-312-pytest-9.0.2.pyc
apps/test_all_apps.py
apps/sql_injection_raw_extra_tests.py
apps/SQL_test.py
